@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: cover;
  font-family: "Jost", sans-serif;
  background-color: aliceblue;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 
/* navbar style start  */

.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #3b5998;
}

.logo {
  display: grid;
 
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: flex-start;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(248, 57, 57));
  background-clip: text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2  {
  font-size: 3.5rem;
  align-items: center;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(20, 26, 54, 0.822);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

.linkedin {
  color: #3b5998;
}

.github {
  color: #c32aa3;
}

/* .email {
  color: #ff0000;
} */

/* my section   */
.my-section {
  margin: 100px 5%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 
.section-homepage {
  display: flex;
  max-width: 1040px;
  flex-direction: row-reverse;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}
.div-text-home {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 50%;
  margin-right: 6%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  flex: 1;
}
.h1 {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  font-family: 'Helvetica Now', sans-serif;
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.25px;
  text-transform: none;
}
.body-home {
  max-width: 100%;
  margin-bottom: 0px;
  font-family: 'Helvetica Now', sans-serif;
  color: #666;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.14px;
}
/* .my-section p {
  font-size: 3rem;
  text-transform: capitalize;
  height: 600px;
} */
/* Image */
.profile-image  {
  display: flex;
    width: 100%;
    height: 950px;
    max-width: 50%;
    margin-left: 2%;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
 
img {
  height: 300px;
}

.h3 {
  overflow: visible;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  order: -1;
  color: #666;
  font-size: 35px;
  font-weight: 500;
}

.table {
  width: 95%;
}

.section-content {
  display: block;
  margin-right: 5%;
  margin-bottom: 100px;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  line-height: 0px;
}

.section-header {
  display: flex;
  max-width: 80%;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.div-header {
  display: inline-block;
  width: 80%;
  height: 70px;
  float: none;
  border-bottom: 1px solid #e1e1e1;
  object-fit: fill;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.header-column {
  display: inline;
  object-fit: contain;
}

.column-title {
  position: static;
  display: flex;
  height: 70px;
  padding-right: 20px;
  padding-left: 0px;
  align-items: center;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.h2 {
  position: static;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 0 auto;
  font-family: 'Helvetica Now', sans-serif;
  color: #272727;
  font-size: 35px;
  line-height: 70px;
  font-weight: 700;
  object-fit: contain;
}
.section-text {
  display: flex;
  max-width: 60%;
  font-size: 20px;
}

.body-p {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  order: -1;
  color: #272727;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
}

.my-skills {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  font-size: 25px;
 
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}


/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  /* my section  */

  .my-section h1 {
    font-size: 3.8rem;
  }
}